* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
     background-color: white;
}


@font-face { 
    font-family: "magnolia";
    src: url("./fonts/Magnolia.ttf");
}


body{ 
    margin: 0; 
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: white; 
}

.invite-container-container { 
    width: 35vw;
    height: 85vh;
}

.invite-container {
    position: relative;
    height: auto;
    width: 100%;
}

.invite-image { 
    width: 100%;
    height: auto;
}
