* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    margin: 0; 
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2; 
    overflow: hidden;
    position: relative;
}

.invite-container-container { 
    width: 37vw;
}

.invite-container {
    position: relative;
    height: auto;
    width: 100%;
}

.invite-image { 
    width: 100%;
    height: auto;
}

@media (max-width: 700px){
    .invite-container-container {
        width: 60vw;
    }
}

@media (max-width: 500px) { 
    .invite-container-container {
        width: 70vw;
    }
}

@media (max-width: 400px) {
    .invite-container-container {
        width: 80vw;
    }
}

/* @media only screen and (max-width: 800px) and (orientation: landscape) {
    .piece {
        max-width: 300px;
    }

    img {
        max-width: 300px;
    }
} */



